.footer
  .row
    div.col-md-6.col-sm-12.footer__left
      ul.footer__nav
        li
          a(href='#') About us
        li
          a(href='#') Download apps
        li
          a(href='#') Become a teacher
        li
          a(href='#') Contact
    div.col-md-6.col-sm-12.footer__right
      img(src='/img/logo-main.png' alt='main logo')
      p.footer__copyright
        | © by Kay Kyungah Kim. All rights reserved.
