extends base

block content
  main.main(style=" ")
    .login-form
      h2.heading-secondary.mb-3 Login to your account
      form.form
        .form__group
          label.form__label(for='email') Email Address
          input#email.form__input(type='email', placeholder='user@example.com', required)
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='********', required, minlength='8')
        .form__group
          button.btn.btn--login Login