.card
  .card-header
    .card-picture
      a(href='#')
        img.card-picture-img(src='img/class-1-cover.jpg', alt='Class 1')
        h4.card-img-heading Node/Html Web
  .card-details
    h4.card-sub-heading Easy Start Node
    p.card-text
      | Web application with node, html, js, scss features login, register,
      | CRUD
    .card-data
      span 100 lectures
    .card-data
      span 35 hours
    .card-data
      span Software
    .card-data
      span Entry level
  .card-footer
    p
      span.card-footer-value $297
      span.card-footer-text per person
    p.card-ratings
      span.card-footer-value 4.9
      span.card-footer-text rating (21)
    a.btn.btn--green.btn--small(href='#') Details